<div class="create-modal-backdrop"></div>
<div class="create-modal" style="background-color:#FFFFFF;">
    <div class="create-modal-dialog">
        <div class="create-modal-content create-modal-login">
                <CENTER>
                <img src="../static/img/logos/coinbrlogo.svg" alt="GreenAddress" width="75%" style="padding-top: 10px" />
                </CENTER>

            <div class="create-modal-body">
               
                <form submittable class="form-horizontal" ng-submit="login()" ng-class="{'has-error': state.mnemonic_error}" autocomplete="off">
                    <div class="form-group" ng-show="!state.toggleshowpin" ng-class="{'has-error': state.error && form.$invalid}">
                        <label class="col-sm-3 col-sm-offset-2 control-label  white-text" for="pin">PIN</label>
                        <div class="col-sm-4">
                            <span class="input-group">
                                <input ng-show="state.has_pin && !state.toggleshowpin" tabindex="1" class="form-control pin" ng-disabled="logging_in" type="tel" mask-input name="pin" id="pin" maxlength="15" pattern="[0-9]{4,15}" ng-pattern="/[0-9]{4,15}/" focus-on="pin" placeholder="Insira seu PIN" ng-model="use_pin_data.pin" />
                                <input submitter type="submit" style="position: absolute; left: -10000px;" />  <!-- makes 'Go' button work for PIN on iOS -->
                                <span class="input-group-btn">
                                    <span class="btn btn-primary pull-right" ng-class="{disabled: logging_in || payreq_loading}"><i ng-if="!logging_in && !payreq_loading" class="glyphicon glyphicon-log-in"></i><div class="spin" ng-if="logging_in || payreq_loading" ng-cloak></div>
                                        <input type="button" tabindex="2" style="opacity: 0; position: absolute; left: 0; top: 0; width: 100%; height: 100%" ng-click="submit_me()" ng-focus="submit_me()" ng-disabled="is_loading || logging_in || (state.seed_progress && !state.login_error) || payreq_loading" />
                                    </span>
                                </span>
                            </span><br/>
                        </div>
                    </div>
                    <div class="form-group" ng-show="state.toggleshowpin">
                        <label class="col-md-2 col-md-offset-1 control-label  white-text" for="pin">Mnemônico</label>
                        <div class="col-md-8" >
                            <span class="input-group">
                                <input class="form-control noanimate" ng-show="state.toggleshowpassword" ng-disabled="is_loading || logging_in || payreq_loading" ng-model="state.mnemonic" placeholder="Insira seu mnemônico" ng-class="{'has-error': state.mnemonic_error}" />
                                <input tabindex="3" type="password" ng-show="!state.toggleshowpassword" class="form-control noanimate" ng-disabled="is_loading || logging_in || payreq_loading" ng-model="state.mnemonic" focus-on="mnemonic" placeholder="Insira seu mnemônico" ng-class="{'has-error': state.mnemonic_error}" />
                                <span class="input-group-btn">
                                    <button type="submit" tabindex="4" ng-disabled="(is_loading || logging_in || (state.seed_progress && !state.login_error) || payreq_loading)"
                                            class="btn login-submit" ng-class="{'btn-primary': !state.login_error, 'btn-danger': state.login_error}"
                                            href="#" id="restore-wallet-continue" ng-show="state.toggleshowpin" ng-focus="submit_me()">
                                        <span ng-hide="state.seed_progress || state.login_error"><i class="glyphicon glyphicon-log-in"></i></span>
                                        <span ng-show="state.seed_progress && !state.login_error">(( state.seed_progress ))%</span>
                                        <span ng-show="state.login_error"><i class="glyphicon glyphicon-warning-sign"></i></span>
                                    </button>
                                </span>
                            </span>
                            
                            <span class="help-block" ng-show="state.mnemonic_error"><i class="glyphicon glyphicon-info-sign"></i> Mnemônico inválido: (( state.mnemonic_error ))</span>
                            <span class="help-block">
                                <label class="switch white-text" ng-show="state.toggleshowpin" >
                                  <input type="checkbox" class="switch" ng-model="state.toggleshowpassword" ng-disabled="is_loading || logging_in || payreq_loading"/>
                                  <span class="switch "></span>
                                    Mostrar mnemônico
                                </label>
                            </span>
                        </div>
                    </div>


                    <div class="btn-login"><a href="#/create" class=" orange">CRIAR NOVA CARTEIRA</a></div>

                     <div class="btn-login">
                         <span ng-class="{disabled: logging_in || payreq_loading}" ng-hide="scanning_qr_video" class="red">
                             <i class="glyphicon glyphicon-qrcode"></i> RECUPERAR CARTEIRA
                             <input style=" background: #000; opacity: 0; position: relative; left: 0; top: 0; width: 100%; height: 100%" type="file" id="qrcodeinput_login" accept="image/*" capture="camera" ga-click-no-touch="read_qr_code($event)"/>
                         </span>
                         <a class="btn btn-default" ng-show="scanning_qr_video" ng-click="stop_scanning_qr_code()">Cancelar</a>
                     </div>


                    <div class="text-center" ng-show="!wallet.send_to_receiving_id && !has_payreq && state.toggleshowpin && !(state.seed_progress && !state.login_error)">
                       
                    </div>
                    <div ng-show="state.hw_detected" class="text-center">
                        <hr>
                        <div class="subtitle  white-text">Log in via hardware wallet</div>
                        <a ng-class="{disabled: logging_in}" href="" ng-click="login_with_hw()" class="btn btn-default"><i class="glyphicon glyphicon-transfer"></i>
                        <span ng-hide="logging_in">(( state.hw_detected ))</span>
                        <span ng-show="logging_in && !hardware_progress">Logging in, please wait...</span>
                        <span ng-show="logging_in && hardware_progress">(( hardware_progress ))%</span>
                        </a>
                    </div>
                </form>
            </div>
            <div class="create-modal-footer" ng-show="state.has_pin">
                <label class="switch">
                  <input type="checkbox" class="switch" ng-model="state.toggleshowpin" ng-disabled="is_loading || logging_in || payreq_loading" />
                  <span class="switch"></span>
                    <span>
                    Mostrar outros logins
                    </span>
                </label>
            </div>
        </div>
    </div>
</div>