<div class="create-modal-backdrop"></div>
<div class="create-modal">
  <div class="create-modal-dialog">
    <div class="create-modal-content">
      <div class="create-modal-header">
        Você foi desconectado.
      </div>
      <div class="create-modal-body text-center">
        <span class="title">

                  Você logou em outro lugar.<br>          <small>Se não foi você, favor contatar <strong>imediatamente</strong> o   
        
          <a href="" onclick="window.open('support.html', '_blank', 'location=no'); return false">suporte</a>.
        </small>
        </span>
        <hr>
        <a class="btn btn-primary" href="#/">Voltar ao login</a>
      </div>
    </div>
  </div>
</div>