<div ng-if="mostraLoading == 1">
	<div class="listaQuestao" style="position:absolute;height:100%;width:100%;background:#000;z-index:20000;opacity:0.4">
	</div>
	<div class="listaQuestao" style="position:absolute;height:100%;width:100%;z-index:20001">
   		<div style="width:70%;background:#fff;border-radius:10px;height:20%;margin:auto;top:40%;position:relative;padding:25px">
        	<div style="text-align:center;font-size:20px;"><b> Carregando</b></div>
         	<div style="margin:auto;width:50%;text-align:center;font-size:20px"> . . . </div>
   		</div>
	</div>
</div>