<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content" submittable>

            <div class="create-modal-header">
                Passo <span ng-hide="signup.trezor_detected">4</span><span ng-show="signup.trezor_detected">3</span> de <span ng-hide="signup.trezor_detected">4</span><span ng-show="signup.trezor_detected">3</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%"></div>
                </div>
            </div>

            <div class="create-modal-body">
                <div class="title">Pague ou receba por redes sociais<br><small>Garanta acesso à sua wallet no modo </small></div>
                <hr>
                <div class="text-center">
                   <!--  ng-disabled="signup.fbloginstate.synchronized" -->
                    <button ng-click="signup.fblogin()" class="btn btn-facebook" ng-class="{'btn-sync':signup.fbloginstate.synchronized}" ng-disabled="true" ><i class="icon-facebook"></i> Em breve</button>
                    
                
                <button ng-click="signup.customlogin()" class="btn btn-default" ng-class="{'btn-sync':signup.customloginstate.synchronized}" ng-disabled="signup.customloginstate.synchronized"><i class="glyphicon glyphicon-lock"></i> Personalizado</button>
                </div>
                <hr>
                <p>Voce pode entrar em sua wallet por via do modo de Observação, por meio de um login simples. Neste processo você tem acesso a uma àrea totalmente separada de sua wallet, sendo impossível o comprometimento da segurança além de pagamentos não poderem ser realizados</p>
                
                
                <p>Use seu email ou nome do Facebook para receber pagamentos! Não use mais longos e complicados endereços para lembrar e comunicar. Isso significa que você pode entrar na sua wallet seguramente de qualquer wi-fi ou até mesmo do starbucks!</p>
                
            </div>

            <div class="create-modal-footer">
                <a class="btn btn-primary btn-block-xs" href="#/send#content_container" ng-hide="signup.any_twofac_done" ng-class="{disabled:signup.social_in_progres}">
                    <span ng-hide="signup.social_in_progress">Me leve à minha wallet!</span>
                    <span ng-show="signup.social_in_progress">Processando...</span>
                </a>
            </div>

        </div>
    </div>
</div>