<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content" submittable>

            <div class="create-modal-header">
                Passo 2 de  <span ng-hide="signup.trezor_detected">4</span><span ng-show="signup.trezor_detected">3</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 50%"></div>
                </div>
            </div>

            <div class="create-modal-body">
                <div class="title">Não comprometa sua segurança<br><small>Configure a autenticação em dois passos</small></div>
                <div ng-if="signup.logged_in" ng-controller="TwoFactorSetupController" ng-include="'../en/wallet/partials/wallet_2fa.html'"></div>
                <div ng-hide="signup.logged_in" style="text-align: center">Por favor aguarde enquanto logamos você em sua nova carteira...</div>
                <hr class="double">
                <p>Nós precisamos que você verifique sua conta em duas etapas, isso fara com que sua carteira se torne muito mais segura e te possibilitará usar algumas funcionalidades como Limites de gasto e pagamentos atrasados.</p>
                <p>Para emitir uma transação você não terá que somente fazer o login em sua wallet, mas também confirma-lo com um código enviado via email, SMS ou google authenticator à sua escolha.</p>
            </div>

            <div class="create-modal-footer">
                <span class="btn btn-link btn-block-xs pull-left disabled" ng-show="signup.seed_progress < 100">
                    Gerando as chaves da sua carteira ... (( signup.seed_progress ))%
                </span>
                <span class="btn btn-link btn-block-xs pull-left disabled" ng-show="signup.seed_progress == 100 && !signup.logged_in && !signup.login_failed">
                    Por favor aguarde, logando...
                </span>
                <a ng-hide="signup.noLocalStorage || signup.has_btchip || signup.has_trezor" href="#/signup_pin#content_container" class="noanimate btn btn-primary btn-block-xs pull-right" ng-class="{disabled:signup.twofac_in_progress || signup.seed_progress < 100 || !signup.logged_in || signup.login_failed || !wallet.twofac.any}">
                    Continue!
                </a>
                <a ng-show="signup.noLocalStorage || signup.has_btchip || signup.has_trezor" href="#/signup_oauth#content_container" class="noanimate btn btn-primary btn-block-xs pull-right" ng-class="{disabled:signup.twofac_in_progress || signup.seed_progress < 100 || !signup.logged_in || signup.login_failed || !wallet.twofac.any}">
                    Continue!
                </a>
            </div>

        </div>
    </div>
</div>