<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content">

            <div class="create-modal-header">
                <span class="pull-left">Já possui uma conta?
                    
                    <a href="" ng-click="logout()">Entre em sua carteira</a></span>
                    
                Passo 1 de 3
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%"></div>
                </div>
            </div>

            <div class="create-modal-body" ng-hide="signup.unexpected_error">
                <div class="title">Conecte seu Trezor para criar uma carteira<br>
                    <small>Essa configuração de 3 passos deixará sua carteira segura contra intrusos</small>
                </div>
                <hr>
                <div class="subtitle" ng-hide="trezor_dev">Por favor conecte seu dispositivo TREZOR</div>
                <div class="subtitle" ng-show="trezor_dev">Trezor detectado.</div>
                <div class="subtitle" ng-show="trezor_dev.signing"><strong>Por favor confirme a assinatura do seu dispositivo TREZOR.</strong></div>
            </div>

            <div class="create-modal-footer" ng-hide="signup.unexpected_error">
                <label for="checkbox-confirmation">
                    <input type="checkbox" ng-model="signup.secured_confirmed" id="checkbox-confirmation"> Eu concordo com os <a href="/tos" target="_blank">Termos de uso</a>
                </label>
                <br>
                <a class="btn btn-primary btn-block-xs" ng-class="{disabled:!signup.logged_in||!signup.secured_confirmed}" href="#/signup_2factor#content_container">Continue!</a>
            </div>

            <div class="create-modal-footer" ng-show="signup.unexpected_error">
                <a class="btn btn-danger login-submit" href="" ng-click="signup.try_again()">
                    Error:  (( signup.unexpected_error )).  Clique para tentar novamente.
                </a>
            </button>
            </div>

        </div>
    </div>
</div>


<div class="printable">
    <h1><img src="/static/img/logos/logo-greenaddress.png" alt="GreenAddress"> CoinBR<br><small>https://coinbr.net</small></h1>
    <p>O mnemônico para acessar sua wallet é</p>
    <div class="mnemonic noanimate">(( signup.mnemonic ))</div>
    <qr ng-if="signup.mnemonic" class="qrcode" text="(( signup.mnemonic ))" size="212"></qr>
    <p><i class="glyphicon glyphicon-exclamation-sign"></i> <i>Guardar essa página em um local seguro</i></p>
</div>