
<img src="../static/img/transacoes.svg" style="width: 100%">

<div class="page">
  <div class="row hidden-xs hidden-sm">
    <div class="col-md-12" style="padding:15px">
      <div class="header">
        Transactions<span class="balance pull-right" ng-include="'../'+LANG+'/wallet/partials/wallet_balance.html'"></span>
      </div>
    </div>
  </div>
 <!-- <div class="row"> -->
   <!-- <div class="col-md-12">
      <!-- <div class="sub-header"> 
        (( wallet.unit ))
         <span class="header-options">
          <ul class="nav nav-pills pull-right">
            <li class="active"><a href="">Year</a></li>
            <li><a href="">Month</a></li>
            <li><a href="">Week</a></li>
          </ul>
        </span> 
      </div> -->
     <!-- <div ng-show="wallet.has_graph" id="btc_graph" class="graph"></div> -->
  <!--   </div> -->
    <!-- <div class="col-md-6">
      <div class="sub-header">
        EUR
        <span class="header-options">
          <ul class="nav nav-pills pull-right">
            <li class="active"><a href="">Year</a></li>
            <li><a href="">Month</a></li>
            <li><a href="">Week</a></li>
          </ul>
        </span>
      </div>
      <div class="graph"><img class="img-responsive" src="/static/img/pages/index/preview.png"></div>
    </div> -->
  </div>
  <div ng-controller="TransactionsController">
    <div class="row">
      <div class="col-md-12">
        <div class="sub-header">Últimas transações 
        <span href="" class="transaction-search-toggle btn btn-xs btn-default" ng-click="toggle_transaction_search()"><i class="glyphicon glyphicon-search"></i></span>
        <select ng-model="wallet.current_subaccount" ng-show="wallet.subaccounts.length" ng-options="subwallet.pointer as subwallet.name for subwallet in [{pointer: 0, name: 'Main'}].concat(wallet.subaccounts)" style="float: right;">
        </select></div>
      </div>
    </div>
    <div class="row" ng-show="search_visible">
      <div class="col-md-4">
        <form>
          <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="search.date_start" placeholder="Data inicial" is-open="search.is_open_from" max-date="search.today" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="search.open_picker($event, 'from')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </form>
      </div>
      <div class="col-md-4">
        <form>
          <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="search.date_end" placeholder="Data final" is-open="search.is_open_to" max-date="search.today" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="search.open_picker($event, 'to')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </form>
      </div>
      <div class="col-md-4">
        <form><input class="form-control" placeholder="Procurar" ng-model="search.query" type="text" /></form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div ng-include="'../'+LANG+'/wallet/partials/wallet_transactions_table.html'"></div>
      </div>
    </div>
  </div>
</div>