<p class="label label-success" ng-show="filtered_transactions.pending_from_notification">New transactions! Sort by descending date to see them.</p>
<p class="label label-success" ng-show="filtered_transactions.pending_conf_from_notification">Newly confirmed transactions! Sort by descending date to see them.</p>
<table class="table table-striped" ng-init="(sorting.reversed = true) && (sorting.order_by = 'ts')">
  <colgroup>
    <col class="col-md-2">
    <col class="col-md-5">
    <col class="col-md-5">
  </colgroup>
  <thead>
    <tr>
      <th><a href="" ng-click="sorting.order_by=='ts' ? (sorting.reversed = !sorting.reversed) : (sorting.order_by = 'ts'); filtered_transactions.sort_by(sorting);">
        <i ng-show="sorting.order_by == 'ts'" class="glyphicon"
        ng-class="{'glyphicon-chevron-down': sorting.reversed, 'glyphicon-chevron-up': !sorting.reversed}"></i> Data</a></th>
      <th>Descrição</th>
      <th class="text-right"><a href="" ng-click="sorting.order_by == 'value' ? (sorting.reversed = !sorting.reversed) : (sorting.order_by = 'value'); filtered_transactions.sort_by(sorting);"><i ng-show="sorting.order_by == 'value'" class="glyphicon"
        ng-class="{'glyphicon-chevron-down': sorting.reversed, 'glyphicon-chevron-up': !sorting.reversed}"></i>(( wallet.unit ))</a></th>
    </tr>
  </thead>
  
  <tbody>
    <tr ng-repeat="transaction in filtered_transactions.list">
      <td class="date">(( transaction.ts|date:"dd/MM/yyyy" ))</td>
      <td>
        <div class="desc">
          <a href="" ng-show="details" ng-click="details(transaction)">(( transaction.description ))
            <small ng-show="transaction.memo" style="color: black;">(( transaction.memo ))</small></a>
          <span ng-hide="details">(( transaction.description ))</span>
          <div class="info">
              <span class="label label-success" ng-show="transaction.instant">confirmação instantânea</span>
              <span class="label label-danger" ng-show="transaction.double_spent_by">double spend</span>
              <span class="label label-default" ng-show="transaction.confirmations == 0 && !transaction.instant && !transaction.double_spent_by">unconfirmed</span>
              <span class="label" ng-class="{'label-info': transaction.confirmations < 6, 'label-success': transaction.confirmations >= 6}" ng-show="transaction.confirmations > 0 && transaction.confirmations < 100">((transaction.confirmations)) confirmações</span>
              <span ng-show="(transaction.external_social && redeem) || transaction.redeemable">
                <span ng-show="transaction.unclaimed || (transaction.redeemable && transaction.redeemable_unspent)">unclaimed;
                    <a href="" ng-click="redeem(transaction)" ng-show="wallet.hdwallet.priv">take funds back</a>
                </span>
                <a class="btn btn-info btn-xs" ng-show="transaction.social_destination.type == 'voucher' && transaction.unclaimed" ng-click="show_voucher(transaction)">
                  Regenerate voucher
                </a>
                <a class="btn btn-success btn-xs" ng-show="transaction.social_destination.type == 'voucher' && transaction.unclaimed" ng-click="show_encrypted_voucher(transaction)">
                  Regenerate encrypted voucher
                </a>
                <span ng-hide="transaction.sent_back || transaction.unclaimed || (transaction.redeemable && transaction.redeemable_unspent)">claimed</span>
              </span>
          </div>
        </div>
      </td>
      <td class="amount" ng-style="{opacity: (transaction.double_spent_by !== undefined) ? 0.3 : 1}">
        <span class="amount" ng-class="{'amount-plus': transaction.positive, 'amount-minus': transaction.negative}" ng-hide="!transaction.nonzero && transaction.redeemable">
        (( transaction.value|format_btc_nounit:wallet.unit ))
        </span>
        <br/>
        <span class="amount amount-redeemable" ng-show="!transaction.nonzero && transaction.redeemable">(( transaction.redeemable_value|format_btc_nounit:wallet.unit ))
        </span>
        <br/>
        <span class="amount info" ng-class="{'amount-plus': transaction.positive, 'amount-minus': transaction.negative}"> (( coinBR.precoFixoVenda * (transaction.value|format_btc_nounit:wallet.unit) | number:2 )) </span>

<!--         
(( transaction.value_fiat|number:2 )) (( filtered_transactions.fiat_currency ))
(( (coinBR.precoFixoVenda * wallet.final_balance *0.00000001) | number:2 ))
 -->      </td>
    </tr>
    <tr ng-show="loading_txs">
      <td colspan="3"><small class="text-muted"><i>Buscando transações, aguarde...</i></small></td>
    </tr>
    <tr ng-hide="loading_txs || filtered_transactions.list || filtered_transactions === undefined">
      <td colspan="3"><small class="text-muted"><i>Nenhuma transação recente...</i></small></td>
    </tr>
    <tr ng-show="filtered_transactions.next_page_id">
      <td colspan="3" style="text-align: center;"><a href="" ng-click="filtered_transactions.fetch_next_page()"><small class="text-muted"><i>Ver mais...</i></small></a></td>
    </tr>
  </tbody>
</table>