<div submittable>

    <div class="modal-body">
        <p class="text-center">Por favor informe seu BTChip PIN.</p>
        <hr>
        <form ng-submit="$close(pin)" name="form" class="form-horizontal">
            <div class="form-group" ng-class="{'has-error': state.error && form.$invalid}">
                <label for="pinId" class="col-sm-5 control-label">Digite seu PIN</label>
                <div class="col-sm-4">
                    <input clickfix focus-on="btchipPinModal" type="tel" mask-input class="form-control pin" required="required"
                           name="pin" maxlength="32" pattern="[0-9]{4,32}" ng-pattern="/[0-9]{4,32}/"
                           ng-model="pin" tabindex="1" />
                    <input type="submit" class="hide" submitter />
                    <div class="help-block"><i class="glyphicon glyphicon-info-sign"></i> O PIN precisa ter  de 4 a 32 números </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <div class="">
            <button ng-hide="pinNotCancelable" class="btn btn-danger" ng-click="$dismiss()" tabindex="3">Cancelar</button>
            <button class="btn btn-primary" ng-click="submit_me()" tabindex="2" ng-focus="submit_me()">Confirmar PIN</button
        </div>
    </div>

</div>