<div class="modal-header">
    Detalhes da transação
</div>

<div class="modal-body">
    <dl>
        <dt>Hora transação</dt>
        <dd>(( selected_transaction.ts ))</dd>

        <dt>Hash</dt>
        <dd>(( selected_transaction.txhash ))</dd>

        <dt>Memo</dt>
        <dd>
            <span ng-hide="selected_transaction.changing_memo">(( selected_transaction.memo ))</span>

            <form ng-submit="edit_tx_memo(selected_transaction)" class="inline" ng-show="selected_transaction.changing_memo">
                <div class="input-group">
                    <input clickfix class="form-control" type="text" ng-model="selected_transaction.new_memo" focus-on="txmemoedit_(( selected_transaction.txhash ))" />
                    <span class="input-group-btn">
                        <button clickfix type="submit" class="btn btn-default" href=""><i class="glyphicon glyphicon-save"></i>Salvar</button>
                    </span>
                </div>

                <input type="submit" class="hide" submitter />
            </form>

            <a clickfix ng-hide="selected_transaction.changing_memo || selected_transaction.memo" class="btn btn-default" href="" ng-click="start_editing_tx_memo(selected_transaction)"><i class="glyphicon glyphicon-edit"></i> Add</a>
            <a clickfix ng-hide="selected_transaction.changing_memo || !selected_transaction.memo" class="btn btn-default" href="" ng-click="start_editing_tx_memo(selected_transaction)"><i class="glyphicon glyphicon-edit"></i> Editar</a>

        </dd>

        <dt>Taxa</dt>
        <dd>(( selected_transaction.fee | format_btc:wallet.unit ))</dd>

        <dt ng-show="selected_transaction.double_spent_by">Raw transaction</dt>
        <dd ng-show="selected_transaction.double_spent_by">(( selected_transaction.rawtx ))</dd>

        <dt ng-show="selected_transaction.double_spent_by">Double spend by txhash</dt>
        <dd ng-show="selected_transaction.double_spent_by">(( selected_transaction.double_spent_by ))</dd>

        <dt ng-show="selected_transaction.payment_request">Payment request</dt>
        <dd ng-show="selected_transaction.payment_request">
            <a ng-href="(( selected_transaction.payment_request ))" download="(( selected_transaction.txhash )).paymentrequest">download</a>
        </dd>
    </dl>

    <hr class="double">

    <p style="font-size:140%;"><b>Entradas</b></p>
    <p ng-show="selected_transaction.inputs.length > 10">Estão sendo mostradas só as 10 primeiras entradas desta transação. Para ver as outras, use o explorador de bloco.
    <!-- The inputs below are only the first 10 inputs of this transaction. To see all of them, use a block explorer. -->
    <table class="table">
        <tr>
            <th style="width:65%;">Endereço</th>
            <th>Quantia</th></tr>
        <tr ng-repeat="input in selected_transaction.inputs|limitTo:10">
            <td>(( input.ad ))</td>
            <td>(( input.value ))</td>
        </tr>
    </table>

    <hr class="double">

    <p style="font-size:140%;"><b>Saídas</b></p>
    <p ng-show="selected_transaction.outputs.length > 10">Estão sendo mostradas só as 10 primeiras saídas desta transação. Para ver as outras, use o explorador de bloco.
    <!-- The outputs below are only the first 10 outputs of this transaction. To see all of them, use a block explorer. -->
    <table class="table">
        <tr>
            <th style="width:65%;">Endereço</th>
            <th>Quantia</th>
        </tr>
        <tr ng-repeat="output in selected_transaction.outputs|limitTo:10">
            <td>(( output.ad ))</td>
            <td>(( output.value ))</td>
        </tr>
    </table>
</div>

<div class="modal-footer">
    <div class="">
        <button class="btn btn-primary" ng-click="$dismiss()">Fechar</button>
    </div>
</div>