<div submittable>

    <div class="modal-body">
        <p class="text-center">Você já está logado. Você deseja sair da outra sessão? </p>
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>
            <button class="btn btn-primary" ng-click="$close()">Sair</button>
        </div>
    </div>

</div>