




<img src="../static/img/MERCADO.svg" style="width: 100%">




<!-- <div ng-controller="MercadoController" style="padding:15px">
 -->
<div class="page">
    

    <div class="form-group">
        <label class="col-sm-2 control-label" for="amount">Simule a
compra com BTC ou Real</label>
        <div class="col-sm-10">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="input-group">
                <span class="input-group-addon">BTC</span>
                    <input ng-change="atualizaValorBTC()" class="form-control" ng-model="BTC" type="tel"  placeholder="0.000000" ng-hide="cordova_platform=='ios'" />
                    <input ng-change="atualizaValorBTC()" class="form-control" ng-model="BTC" type="number"  placeholder="0.000000" ng-show="cordova_platform=='ios'" />
                
              </div>
            </div>
            </div>
            <br/>
             <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="input-group">
                <span class="input-group-addon">R$ &nbsp;&nbsp; </span>
                    <input ng-change="atualizaValorReal()" class="form-control" ng-model="Real" type="tel" placeholder="0.00" ng-hide="cordova_platform!='ios'" />

                    <input ng-change="atualizaValorReal()" class="form-control" ng-model="Real" type="number" placeholder="0.00" ng-show="cordova_platform!='ios'" />
                
              </div>
            </div>
          </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped" id="id_addressbook">
                <colgroup>
                    <col class="col-md-2">
                    <col class="col-md-5">
                    <col class="col-md-5">
                </colgroup>
                <thead>
                    <th colspan="3" style="text-align: center">Tabela de Exchanges</th>
                </thead>
                <thead>
                    <th><a href="">Nome</a></th>
                    <th><a href="">Vendido a</a></th>
                    <th><a href="">Comprado a</a></th>
                </thead>
          
                <tbody>
                    <!-- TODO: move to modal -->
                    <tr ng-repeat="valores in valoresMercado">
                        <td ng-if="valores.nome == 'coinBR'" style="background-color: #FFE999;">((valores.nome))</td>
                        <td ng-if="valores.nome == 'coinBR'" style="background-color: #FFE999;"> (( valores.valorRealFinal))</td>
                        <td ng-if="valores.nome == 'coinBR'" style="background-color: #FFE999;"> (( (valores.valorRealFinalVenda) ))</td>
                        
                        <td ng-if="valores.nome != 'coinBR'" >((valores.nome))</td>
                        <td ng-if="valores.nome != 'coinBR'" > (( (valores.valorRealFinal) ))</td>
                        <td ng-if="valores.nome != 'coinBR'" > (( (valores.valorRealFinalVenda) ))</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
