<img src="../static/img/configuracoes.svg" style="width: 100%">
<div class="page">
  <p ng-show="wallet.hdwallet.priv && !wallet.appearance.mnemonic_verified"><span class="label label-warning">ATENÇÃO</span>
    Você ainda não verificou que salvou seu mnemonico em lugar seguro.
    <a href="" ng-click="verify_mnemonic()">Verifique clicando aqui.</a>
  </p> 
  
  <!-- <div class="row currencies" ng-show="settings.pricing_sources">
    <div class="col-md-3">
      <div class="sub-header">Currency</div>
      <div class="sub-header-desc">Select your currency and pricing source.</div>
    </div>
    <div class="col-md-9">
      <form role="form" class="form-inline">
        <div class="form-group">
          <label class="control-label">Pricing source to use</label>
        </div>
        <div class="form-group">
          <div class="btn-group">
            <select ng-model="settings.pricing_source"
                ng-options="(source.currency+'|'+source.exchange) as (source.currency+' ('+exchanges[source.exchange]+')') for source in settings.pricing_sources"
                ng-disabled="settings.updating_pricing_source">
            </select>
          </div>
        </div>
      </form>
      <hr>
      <form role="form" class="form-inline">
        <div class="form-group">
          <label class="control-label">Show amounts in</label>
        </div>
        <div class="form-group">
          <div class="btn-group">
            <button ng-repeat="unit in settings.available_units" type="button" class="btn btn-xs" ng-class="{'btn-primary': settings.unit == unit, 'btn-default': settings.unit != unit}" ng-model="settings.unit" btn-radio="unit" ng-disabled="settings.updating_unit">(( unit ))</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr class="double">
  <div class="row" ng-controller="SoundController">
    <div class="col-md-3">
      <div class="sub-header">Sound</div>
      <div class="sub-header-desc">Enable or disable sounds</div>
    </div>
    <div class="col-md-9" submittable>
      <form role="form" class="form-horizontal">
          <div class="form-group">
              <label class="switch col-sm-3">
                  <input type="checkbox" class="switch" ng-model="wallet.appearance.sound"/>
                  <span class="switch"></span>
                  Enable sounds
              </label>
          </div>
      </form>
    </div>
  </div>
  <hr class="double">
  <div class="row">
    <div class="col-md-3">
      <div class="sub-header">Language</div>
      <div class="sub-header-desc">Change language to</div>
    </div>
    <div class="col-md-9" submittable>
        <form role="form" class="form-inline">
          <div class="form-group">
            <select ng-model="settings.language">
              <option value="de">Deutsch</option>
              <option value="en">English</option>
              <option value="es">Español</option>
              <option value="fr">Français</option>
              <option value="el">ελληνικά</option>
              <option value="it">Italiano</option>
              <option value="nl">Nederlands</option>
              <option value="pl">Polski</option>
              <option value="sv">Svenska</option>
              
              <option value="th">ภาษาไทย</option>
              
              <option value="uk">Українська</option>
              <option value="ru">Pусский</option>
            </select>
          </div>
        </form>
    </div>
  </div>

  </div> 
  <div id="security">
  <hr class="double">
  <div class="header">
    Security
  </div>
  -->
  <div class="row">
    <div class="col-md-3">
      <div class="sub-header">Email</div>
      <div class="sub-header-desc">Insira seu email para receber notificação das transações em sua carteira e para validar a autenticação dupla.
      </div>
     <!--  Set your email address for transactions notifications, two factor authentication, and nLockTime transactions.</div> -->
    </div>
    <div class="col-md-9">
      <form ng-submit="set_new_email()" class="form-horizontal" role="form">
        <div class="form-group">
          <label ng-show="wallet.twofac.email_addr" class="control-label col-sm-3">Mudar email</label>
          <label ng-hide="wallet.twofac.email_addr" class="control-label col-sm-3">Insira seu email</label>
          <div class="col-sm-4">
            <input type="email" class="form-control" placeholder="Seu email" ng-model="settings.new_email" ng-disabled="settings.setting_email">
            <input type="submit" class="btn btn-primary" ng-show="settings.new_email != wallet.twofac.email_addr" value="Salvar" ng-disabled="settings.setting_email" />
          </div>
        </div>
      </form>
      <div ng-show="wallet.twofac.email_addr && !wallet.twofac.email_confirmed" class="col-sm-9">
        <p>Favor inserir o código de confirmação recebido em seu email.
            <!-- You need to provide confirmation code from your email to allow using it. -->
            <!-- <br>              Please check your email and provide the code. -->
        </p>
        <form ng-submit="confirm_email()" class="form-horizontal" role="form">
          <label class="col-sm-4 control-label" for="wallet-sms-conf-code">Código</label>
          <div class="col-sm-7">
            <div class="input-group">
              <input ng-model="settings.email_confirmation_code" class="form-control pin" type="tel" mask-input required="required"
                        maxlength="6" pattern="[0-9]{6}" ng-pattern="/[0-9]{6}/" id="wallet-sms-conf-code"
                        placeholder="Insira o código recebido" />
              <span class="input-group-btn" ng-show="settings.email_confirmation_code">
                <input type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="Confirm" />
              </span>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-12">
            <p>Esse código só é válido por 5 minutos. Solicite outro caso necessário.
               <!-- The code is valid only for 5 minutes, so you can request another one if necessary.  --><a href="" ng-click="set_new_email()" class="btn btn-info btn-xs" ng-class="{disabled: settings.setting_email}">Solicitar novo código</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--
  <hr class="double" ng-show="!settings.noLocalStorage">
  <div ng-controller="QuickLoginController" class="row" ng-show="!settings.noLocalStorage">
    <div class="col-md-3">
      <div class="sub-header">Quick login</div>
      <div class="sub-header-desc">Enable a simple PIN to quickly access your wallet from this device.</div>
    </div>
    <div class="col-md-9">
      <div ng-show="quicklogin.loaded">
        <form ng-submit="set_new_pin()" class="form-horizontal" role="form">
          <label class="switch">
            <input type="checkbox" class="switch" ng-model="quicklogin.enabled" ng-disabled="quicklogin.started_setting_pin">
            <span class="switch"></span>
              Enable quick login on this device
          </label>
          <hr ng-show="quicklogin.started_setting_pin || quicklogin.enabled">
          <div class="form-group" ng-show="quicklogin.started_setting_pin || quicklogin.enabled">
            <label ng-show="quicklogin.enabled" class="control-label col-sm-3">Change PIN number</label>
            <label ng-hide="quicklogin.enabled" class="control-label col-sm-3">Set PIN number</label>
            <div class="col-sm-4">
              <input type="tel" inputmode="numeric" class="form-control" placeholder="4-15 digits number"
                     maxlength="15" pattern="[0-9]{4,15}" ng-pattern="/[0-9]{4,15}/" ng-model="quicklogin.new_pin"/>
              <input type="submit" class="btn btn-primary" ng-show="quicklogin.new_pin" value="Confirm" ng-disabled="quicklogin.setting_pin" />
            </div>
          </div>
          <hr>
          <button class="btn btn-danger btn-block-xs" ng-click="remove_all_pin_logins()"><i class="glyphicon glyphicon-remove"></i> Disable quick login on all devices</button>
          
        </form>
      </div>
    </div>
  </div>
  <hr class="double">
  <div class="row">
    <div class="col-md-3">
      <div class="sub-header">Link your own third party accounts</div>
      <div class="sub-header-desc">Allow social payments and watch-only login to your wallet via your own third party accounts.</div>
    </div>
    <div class="col-md-9">
      <form role="form" ng-show="thirdparty.loaded" ng-controller="ThirdPartyController" ng-submit="thirdparty.customstate.save()">
      
        <button ng-disabled="thirdparty.toggling_fb || thirdparty.fbstate.logging_in" class="btn btn-block-xs btn-facebook" ng-click="thirdparty.fbstate.enabled=!thirdparty.fbstate.enabled"><i class="icon-facebook"></i> Facebook</button>
        <label class="switch">
          <input ng-disabled="thirdparty.toggling_fb || thirdparty.fbstate.logging_in" ng-model="thirdparty.fbstate.enabled" type="checkbox" class="switch">
          <span class="switch"></span>
        </label>
        <hr ng-hide="cordova_platform=='ios'">
        
      
        <button class="btn btn-block-xs btn-default" ng-click="thirdparty.customstate.enabled=!thirdparty.customstate.enabled" ng-disabled="thirdparty.toggling_custom"><i class="glyphicon glyphicon-lock"></i> Custom Login</button>
        <label class="switch">
          <input type="checkbox" class="switch" ng-model="thirdparty.customstate.enabled" ng-disabled="thirdparty.toggling_custom">
          <span class="switch"></span>
        </label>
        <div ng-hide="!thirdparty.customstate.enabled && !thirdparty.toggling_custom && !thirdparty.customstate.username">
          <input class="form-control" ng-disabled="thirdparty.toggling_custom && thirdparty.toggling_custom!='initial'" type="text" ng-model="thirdparty.customstate.username" placeholder="Username" />
          <input class="form-control" ng-disabled="thirdparty.toggling_custom && thirdparty.toggling_custom!='initial'" type="password" ng-model="thirdparty.customstate.password" placeholder="Password" />
          <input type="submit" class="btn btn-sm btn-default" value="(( thirdparty.customstate.save_button_label ))" ng-show="thirdparty.customstate.username && thirdparty.customstate.password" ng-disabled="thirdparty.toggling_custom && thirdparty.toggling_custom!='initial'" ng-click="thirdparty.customstate.save()" />
        </div>
      </form>
    </div>
  </div>
  <hr class="double">
  <div class="row">
    <div class="col-md-3">
      <div class="sub-header">Notifications</div>
      <div class="sub-header-desc">Notifications allow for improved security when configured for outgoing and for most up to date information when configured for incoming</div>
    </div>
    <div class="col-md-9">
      <form role="form" class="form-inline">
      <div ng-class="{grayedout: !wallet.twofac.email_confirmed}">
        <div class="form-group">
          <label class="control-label">Send incoming transaction notification by</label>
        </div>
        <div class="form-group">
          <label class="switch">
            <input type="checkbox" class="switch" ng-model="settings.notifications.email_incoming" ng-disabled="settings.updating_ntf_email_incoming || !wallet.twofac.email_confirmed">
            <span class="switch"></span>
            email
          </label>
        </div>
      </div>
      <hr>
      <div ng-class="{grayedout: !wallet.twofac.email_confirmed}">
          <div class="form-group">
            <label class="control-label">Send outgoing transaction notification by</label>
          </div>
          <div class="form-group">
            <label class="switch">
                <input type="checkbox" class="switch" ng-model="settings.notifications.email_outgoing" ng-disabled="settings.updating_ntf_email_outgoing || !wallet.twofac.email_confirmed">
                <span class="switch"></span>
                email
            </label>
          </div>
        </div>
        <div ng-hide="wallet.twofac.email_confirmed">
          <hr>
          <small class="label label-info" style="white-space: normal"><strong>NOTE</strong>: You need to have a confirmed email enabled for this feature to work.</small>
        </div>
      </form>
    </div>
  </div>
  <hr class="double">
  <div class="row" ng-controller="PrivacyController">
    <div class="col-md-3">
      <div class="sub-header">Privacy</div>
      <div class="sub-header-desc">Decide who can send you money directly to your GreenAddress wallet, and who can see your name when receiving money from you</div>
    </div>
    <div class="col-md-9" submittable>
        <form role="form" class="row">
          <div class="form-group">
            <div class="col-sm-5"><label class="control-label" for="privacy_send_me">Allow sending to my wallet via email/Reddit</label>
            <br /><small>(NOTE: at this moment addressbook is not supported for Reddit contacts, so choosing 'Addressbook contacts' will disallow sending to you wallet directly using your Reddit handle)</small></div>
            <select ng-model="privacy.send_me" id="privacy_send_me" class="col-sm-4" ng-disabled="privacy.updating_send_me">
              <option value="2">Everyone</option>
              <option value="1">Addressbook contacts</option>
              <option value="0">No one</option>
            </select>
          </div>
        </form>
        <form role="form" class="row">
          <div class="form-group">
            <div class="col-sm-5"><label class="control-label" for="privacy_show_as_sender">Show my email/Reddit handle as sender to </label>
            <br /><small>(NOTE: at this moment addressbook is not supported for Reddit contacts, so choosing 'Mutually added in addressbook' will cause you to be never visible as sender when using Reddit handle for sending)</small></div>
            <select ng-model="privacy.show_as_sender" id="privacy_show_as_sender" class="col-sm-4" ng-disabled="privacy.updating_show_as_sender">
              <option value="2">Everyone</option>
              <option value="1">Mutually added in addressbook</option>
              <option value="0">No one</option>
            </select>
          </div>
        </form>
    </div>
  </div>
  -->
  <hr class="double">
  <div class="row" ng-controller="TwoFactorSetupController">
    <div class="col-md-3">
      <div class="sub-header">Autenticação de 2 fatores</div>
      <div class="sub-header-desc">Escolha as autenticações desejadas: Você pode escolher quais tipo de autenticação deseja, ou desativar alguma quando necessário.
      <!--  Set any or all two factor: you can choose which one when needed! Enable two or back up the given code where applicable. --></div>
    </div>
    <div class="col-md-9" submittable>
      <form role="form" class="form-horizontal">
          <div class="form-group">
              <label class="switch col-sm-3">
                  <input type="checkbox" class="switch" ng-model="twofactor_state.twofac_email_switch" ng-disabled="twofactor_state.toggling_email">
                  <span class="switch"></span>
                  Email
              </label>
          </div>
      </form>
        <hr>
      <form role="form" class="form-horizontal" ng-submit="submit_gauth()">
          <div class="form-group">
              <label class="switch col-sm-4">
                  <input type="checkbox" class="switch" ng-model="twofactor_state.twofac_gauth_switch" ng-disabled="twofactor_state.toggling_gauth">
                  <span class="switch"></span>
                  Google Authenticator
              </label>
              <div ng-show="twofactor_state.toggling_gauth == 'enabling' || twofactor_state.toggling_gauth == 'initial'" class="col-sm-8">
                  <p>Você precisa fornecer seu código do Google Authenticator para habilitar a autenticação de 2 fatores. <!-- You need to provide one Google Authenticator code to set up the two factor authentication. --><br>                      Por favor, scanneie o QR code abaixo e insira o código.<!-- Please scan the QR code below, and provide the code. -->
                  </p>
                  <div class="text-center"><a href="" class="btn btn-default btn-sm" style="margin:15px 0 0;" ng-click="gauth_qr_modal()"><i class="glyphicon glyphicon-qrcode"></i> Mostrar QR Code <!-- Show QR Code --></a></div>
                  <label class="col-sm-2 control-label" for="wallet-gauth-conf-code"> Código <!-- Code --></label>
                  <div class="col-sm-9">
                      <div class="input-group">
                          <input ng-model="twofactor_state.twofac_gauth_code" class="form-control pin" type="tel" mask-input ng-required="twofactor_state.gauth_set"
                              maxlength="6" pattern="[0-9]{6}" ng-pattern="/[0-9]{6}/" id="wallet-gauth-conf-code"
                              placeholder="Insira o código recebido" />
                          <span class="input-group-btn">
                              <input ng-disabled="!twofactor_state.twofac_gauth_code || twofactor_state.toggling_gauth == 'enabling'" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="Enable" /><a href="" class="btn btn-warning" ng-click="cancel_twofac_gauth()" ng-class="{disabled: twofactor_state.toggling_gauth == 'enabling'}"> Cancelar <!-- Cancel --></a>
                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </form>
        <hr>
      <form role="form" class="form-horizontal" ng-submit="submit_sms()">
          <div class="form-group">
              <label class="switch col-sm-3">
                  <input type="checkbox" class="switch" ng-model="twofactor_state.twofac_sms_switch" ng-disabled="twofactor_state.toggling_sms">
                  <span class="switch"></span>
                  SMS
              </label>
              <input type="submit" style="position: absolute; left: -10000px;" />
              <div ng-show="twofactor_state.toggling_sms == 'initial' && !twofactor_state.sms_set" class="col-sm-9">
                  <label class="col-sm-4 control-label" for="wallet-google-conf-code">Número de celular <!-- Your phone number --></label>
                  <div class="col-sm-8">
                      <div class="input-group">
                          <input class="form-control" ng-model="twofactor_state.new_twofac_sms"
                              id="wallet-twofac-sms" type="tel" name="phone" ng-required="!twofactor_state.sms_set"
                              placeholder="+NN... Insira o seu celular" />
                          <span class="input-group-btn">
                              <input ng-disabled="!twofactor_state.new_twofac_sms || twofactor_state.enabling_sms" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="Enable" />
                          </span>
                      </div>
                  </div>
              </div>
              <div ng-show="(twofactor_state.toggling_sms == 'enabling' || twofactor_state.toggling_sms == 'initial') && twofactor_state.sms_set" class="col-sm-9">
                  <p>Você precisa informar um código de SMS para habilitar a autenticação de 2 fatores.<!--  You need to provide one SMS code to set up the two factor authentication. --><br>                    Por favor, verifique o seu celular e insira o código.<!-- Please check your phone and provide the code. -->
                  </p>
                  <label class="col-sm-4 control-label" for="wallet-sms-conf-code">Código SMS<!-- SMS code --></label>
                  <div class="col-sm-7">
                      <div class="input-group">
                          <input ng-model="twofactor_state.twofac_sms_code" class="form-control pin" type="tel" mask-input ng-required="twofactor_state.sms_set"
                              maxlength="6" pattern="[0-9]{6}" ng-pattern="/[0-9]{6}/" id="wallet-sms-conf-code"
                              placeholder="Insira o código recebido" />
                          <span class="input-group-btn">
                              <input ng-disabled="!twofactor_state.twofac_sms_code || twofactor_state.toggling_sms == 'enabling'" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="Enable" /><a href="" class="btn btn-warning" ng-click="cancel_twofac_sms()" ng-class="{disabled: twofactor_state.toggling_sms == 'enabling'}">Cancelar<!-- Cancel --></a>
                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </form>
        <hr>
      <form role="form" class="form-horizontal" ng-submit="submit_phone()">
          <div class="form-group">
              <label class="switch col-sm-3">
                  <input type="checkbox" class="switch" ng-model="twofactor_state.twofac_phone_switch" ng-disabled="twofactor_state.toggling_phone">
                  <span class="switch"></span>
                  Celular <!-- Phone -->
              </label>
              <input type="submit" style="position: absolute; left: -10000px;" />
              <div ng-show="twofactor_state.toggling_phone == 'initial' && !twofactor_state.phone_set" class="col-sm-9">
                  <label class="col-sm-4 control-label" for="wallet-google-conf-code">Seu número de celular<!-- Your phone number --></label>
                  <div class="col-sm-8">
                      <div class="input-group">
                          <input class="form-control" ng-model="twofactor_state.new_twofac_phone"
                              id="wallet-twofac-phone" type="tel" name="phone" ng-required="!twofactor_state.phone_set"
                              placeholder="+NN... Insira o seu celular" />
                          <span class="input-group-btn">
                              <input ng-disabled="!twofactor_state.new_twofac_phone || twofactor_state.enabling_phone" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="Enable" />
                          </span>
                      </div>
                  </div>
              </div>
              <div ng-show="(twofactor_state.toggling_phone == 'enabling' || twofactor_state.toggling_phone == 'initial') && twofactor_state.phone_set" class="col-sm-9">
                  <p>Você precisa fornecer um código de telefone para habilitar a autenticação de 2 fatores.<!--  You need to provide one phone code to set up the two factor authentication. --><br>                    Por favor, verifique o seu celular e insira o código.<!-- Please check your phone and provide the code. -->
                  </p>
                  <label class="col-sm-4 control-label" for="wallet-phone-conf-code">Código do celular<!-- Phone code --></label>
                  <div class="col-sm-7">
                      <div class="input-group">
                          <input ng-model="twofactor_state.twofac_phone_code" class="form-control pin" type="tel" mask-input ng-required="twofactor_state.phone_set"
                              maxlength="6" pattern="[0-9]{6}" ng-pattern="/[0-9]{6}/" id="wallet-phone-conf-code"
                              placeholder="Insira o código recebido" />
                          <span class="input-group-btn">
                              <input ng-disabled="!twofactor_state.twofac_phone_code || twofactor_state.toggling_phone == 'enabling'" type="submit" class="btn btn-default" style="margin-top:0; margin-bottom:0;" value="Enable" /><a href="" class="btn btn-warning" ng-click="cancel_twofac_phone()" ng-class="{disabled: twofactor_state.toggling_phone == 'enabling'}">Cancelar<!-- Cancel --></a>
                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </form>
    </div>
  </div> 
  <!-- <hr class="double">
  <div class="row" ng-controller="AutoLogoutController">
    <div class="col-md-3">
      <div class="sub-header">Auto logout</div>
      <div class="sub-header-desc">Configure auto logout after some inactivity timeout  (( mins )) : (( secs )) </div>
    </div>
    <div class="col-md-9" submittable>
      <form role="form" class="form-horizontal" ng-submit="save_logout_timeout()">
          <label class="col-sm-2 control-label" for="wallet-timeout">Minutes</label>
          <div class="input-group">
              <input inputmode="numeric" type="tel" class="form-control" placeholder="Timeout minutes"
                     maxlength="3"  ng-pattern="/[0-9]/" ng-model="timeoutstate.altimeout" id="wallet-timeout"/>
              <input type="submit" class="btn btn-primary" ng-show="wallet.appearance.altimeout != timeoutstate.altimeout" value="Save" ng-disabled="timeoutstate.timeout" />
          </div>
      </form>
    </div>
  </div> -->
  <!-- <div class="row" ng-show="wallet.hdwallet.priv"> -->
    <hr class="double">
    <div class="col-md-3">
        <div class="sub-header">Mostrar mnemônico</div>
      <div class="sub-header-desc">Veja seu mnemônico para recuperar sua conta ou usá-la em algum outro dispositivo.
      <!-- Display your mnemonic for account recovery or cloning on another device --></div>
    </div>
    <div class="col-md-9">
      <button class="btn btn-warning btn-block-xs" ng-click="show_mnemonic()"><i class="glyphicon glyphicon-eye-open"></i> Mostrar mnemônico</button>
      <button class="btn btn-success btn-block-xs" ng-click="show_encrypted_mnemonic()"><i class="glyphicon glyphicon-lock"></i> Mostrar mnemônico encriptado</button>
      
      <!-- <button ng-hide="cordova_platform=='ios'" class="btn btn-default btn-block-xs" ng-click="settings.nfcmodal()"><i class="glyphicon glyphicon-transfer"></i> Write to NFC tag</button>
      <button ng-hide="cordova_platform=='ios'" class="btn btn-default btn-block-xs" ng-click="settings.nfcmodal_encrypted()"><i class="glyphicon glyphicon-transfer"></i><i class="glyphicon glyphicon-lock"></i> Write encrypted to NFC tag</button> -->
      
      
    </div>
  <!-- </div> -->
  <!-- <hr class="double">
  <div class="row">
    <div class="col-md-3">
      <div class="sub-header">nLockTime</div>
      <div class="sub-header-desc">nLockTime transactions allow you to redeem your deposited funds without GreenAddress' signature after pre-defined number of blocks</div>
    </div>
    <div class="col-md-9">
      <form role="form" class="form-inline" ng-submit="settings.nlocktime.update()">
        <div class="form-group">
          <div ng-class="{grayedout: !settings.notifications.email_incoming || !settings.notifications.email_outgoing || !wallet.twofac.email_confirmed}">
            <label for="id_nlocktime_blocks" class="control-label">Allow redeeming funds without GreenAddress' signature after</label>
            <input class="form-control" type="tel" ng-model="settings.nlocktime.blocks_new" ng-disabled="settings.nlocktime.updating_nlocktime_blocks || !settings.notifications.email_incoming || !settings.notifications.email_outgoing || !wallet.twofac.email_confirmed" />
            blocks
            <input type="submit" class="btn btn-sm btn-default" value="Save" ng-show="settings.nlocktime.blocks_new != settings.nlocktime.blocks" ng-disabled="settings.nlocktime.updating_nlocktime_blocks"  />
            <br />(( settings.nlocktime.blocks_userfriendly ))
          </div>
          <div ng-hide="settings.notifications.email_incoming && settings.notifications.email_outgoing && wallet.twofac.email_confirmed">
            <hr>
            <small class="label label-info" style="white-space: normal"><strong>NOTE</strong>: Both outgoing and incoming transaction notifications must be enabled for this feature to work.</small>
          </div>
          <hr>
          <a href="" class="btn btn-primary btn-block-xs" ng-click="settings.expiring_soon_modal()"><i class="glyphicon glyphicon-time"></i> Show outputs expiring soon</a>
          <a href="" class="btn btn-info btn-block-xs" ng-class="{disabled: settings.sending_nlocktime}" ng-click="settings.send_nlocktime()"><i class="glyphicon glyphicon-send"></i> Send all nLockTime transactions by email</a>
        </div>
      </form>
    </div>
  </div>
  <hr class="double">
  <div class="row" ng-controller="TxLimitsController">
    <div class="col-md-3">
      <div class="sub-header">Spending limits</div>
      <div class="sub-header-desc">Set some limits for which you won't be asked for two factor for super userfriendly payments.</div>
    </div>
    <div class="col-md-9">
      <p>You can provide amount (BTC or fiat) limits of transactions that you can make without using two factor authentication</p>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Limit currency</label>
          <div class="col-sm-7">
            <span class="form-control form-control-noinput" value="BTC" ng-show="!wallet.limits.is_fiat">(( wallet.unit ))</span>
            <span class="form-control form-control-noinput" value="fiat" ng-show="wallet.limits.is_fiat">(( wallet.fiat_currency)) (current currency)</span>
            <small ng-show="wallet.limits.is_fiat" class="label label-warning" style="white-space: normal"><strong>NOTE</strong>: Using currency values for limits assumes you can trust your pricing source to provide correct values.</small>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-sm-3 control-label">Total</label>
          <div class="col-sm-7">
            <span class="form-control form-control-noinput">((wallet.limits.total|format_btc:wallet.limits.is_fiat?wallet.fiat_currency:wallet.unit))</span>
            <small>This limit will be decreased with each transaction and you will need to "refill" it manually by changing this value.</small>
          </div>
        </div>
      </div>
      <div>
        <button class="btn btn-info btn-block-xs" ng-click="change_tx_limits()"><i class="glyphicon glyphicon-edit"></i> Change limits</button>
      </div>
    </div>
  </div>

  <hr class="double">
  <div class="row">
    <div class="col-md-3">
      <div class="sub-header">Remove account</div>
      <div class="sub-header-desc">You can remove your account with all associated data here.</div>
    </div>
    <div class="col-md-9">
        <button class="btn btn-danger btn-block-xs" ng-click="remove_account()"><i class="glyphicon glyphicon-remove"></i> Remove account</button>
    </div>
  </div>
  </div> 
  <div id="accounts" ng-controller="SubwalletsController">
  <hr class="double">
  <div class="header">
    Accounts
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="sub-header">Simple accounts</div>
      <div class="sub-header-desc">Create accounts that allow you to separate your funds. Each accounts will have its own receiving addresses.</div>
    </div>
    <div class="col-md-9">
      <form ng-submit="subwallets.create_new()" class="form-horizontal" role="form">
        <div class="form-group">
          <label class="control-label col-sm-6">Create an account with the following label:</label>
          <div class="col-sm-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Label" ng-model="subwallets.new_label" ng-disabled="subwallets.adding_subwallet">
              <span class="input-group-btn">
                <input type="submit" class="btn btn-primary" value="Create" ng-disabled="!subwallets.new_label || subwallets.adding_subwallet" />
              </span>
            </div>
          </div>
        </div>
      </form>
      <h3 ng-show="subwallets.existing.length">Your simple accounts:</h3>
      <table class="table table-striped" id="id_addressbook">
        <thead>
          <th>Name</th>
          <th>Actions</th>
        </thead>
        <tr ng-repeat="subwallet in subwallets.existing|filter:{type:'simple'}" submittable>
          <td ng-hide="subwallet.renaming">(( subwallet.name ))</td>
          <td ng-show="subwallet.renaming">
            <form ng-submit="subwallets.rename(subwallet)" class="inline">
              <input type="text" ng-model="subwallet.new_name" focus-on="addrbook_rename_(( item.address ))" />
                <input type="submit" class="hide" submitter />
              </form>

          </td>
          <td>
            <a ng-hide="subwallet.renaming" class="btn btn-xs btn-default" href="" ng-click="subwallets.start_rename(subwallet)"><i class="glyphicon glyphicon-edit"></i> Rename</a>
            <a ng-show="subwallet.renaming" class="btn btn-xs btn-default" href="" ng-click="submit_me()"><i class="glyphicon glyphicon-save"></i> Save</a>
            <a class="btn btn-xs btn-default" href="" ng-click="subwallets.send_from(subwallet)"><i class="glyphicon glyphicon-send"></i> Send</a>
            <a class="btn btn-xs btn-default" href="" ng-click="subwallets.receive_to(subwallet)"><i class="icon-bitcoin"></i> Receive</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <hr class="double">
  <div class="row">
    <div class="col-md-3">
      <div class="sub-header">2of3 accounts</div>
      <div class="sub-header-desc">Create accounts that allow you to access your funds at any time even without access to GreenAddress, using additional offline recovery key.<br/><strong>NOTE:</strong> instant transactions are not available for these accounts because GreenAddress can't protect them from double spending.</div>
    </div>
    <div class="col-md-9">
      <form ng-submit="subwallets.create_new_2of3()" class="form-horizontal" role="form">
        <div class="form-group">
          <label class="control-label col-sm-6">Create a 2of3 account with the following label:</label>
          <div class="col-sm-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Label" ng-model="subwallets.new_2of3_label" ng-disabled="subwallets.adding_subwallet">
              <span class="input-group-btn">
                <input ng-hide="subwallets.generating_2of3_seed" type="submit" class="btn btn-primary" value="Create" ng-disabled="!subwallets.new_2of3_label || subwallets.adding_subwallet" />
                <input ng-show="subwallets.generating_2of3_seed" type="submit" class="btn btn-primary" value="(( subwallets.seed_progress_2of3 ))%" disabled />
              </span>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="subwallets.new_2of3_label">
        <label class="control-label col-sm-6">Optionally provide your custom recovery xpub:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="xpub" ng-model="subwallets.new_2of3_xpub" ng-disabled="subwallets.adding_subwallet">
        </div>
        </div>
      </form>
      <h3 ng-show="subwallets.existing.length">Your 2of3 accounts:</h3>
      <table class="table table-striped" id="id_addressbook">
        <thead>
          <th>Name</th>
          <th>Actions</th>
        </thead>
        <tr ng-repeat="subwallet in subwallets.existing|filter:{type:'2of3'}" submittable>
          <td ng-hide="subwallet.renaming">(( subwallet.name ))</td>
          <td ng-show="subwallet.renaming">
            <form ng-submit="subwallets.rename(subwallet)" class="inline">
              <input type="text" ng-model="subwallet.new_name" focus-on="addrbook_rename_(( item.address ))" />
                <input type="submit" class="hide" submitter />
              </form>

          </td>
          <td>
            <a ng-hide="subwallet.renaming" class="btn btn-xs btn-default" href="" ng-click="subwallets.start_rename(subwallet)"><i class="glyphicon glyphicon-edit"></i> Rename</a>
            <a ng-show="subwallet.renaming" class="btn btn-xs btn-default" href="" ng-click="submit_me()"><i class="glyphicon glyphicon-save"></i> Save</a>
            <a class="btn btn-xs btn-default" href="" ng-click="subwallets.send_from(subwallet)"><i class="glyphicon glyphicon-send"></i> Send</a>
            <a class="btn btn-xs btn-default" href="" ng-click="subwallets.receive_to(subwallet)"><i class="icon-bitcoin"></i> Receive</a>
          </td>
        </tr>
      </table>
    </div>
  </div> -->
  </div>
</div>   