<div>

    <div class="modal-body">
    	<p class="text-center">Este email já está sendo usado em uma outra conta. Você deseja deslinkar o email daquela conta?</p>
        <p class="text-center"><strong>Atenção</strong>: Isso pode desativar o autenticação de 2 fatores se você não possuir outro método de autenticação em sua conta.</p>
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>
            <button class="btn btn-primary" ng-click="$close()">OK</button>
        </div>
    </div>

</div>