<div class="modal-body text-center">
	
    <p><qr size="212" text="url"></qr></p>
    <a href="((url))" onclick="return false;">(( url.split("/")[0] ))</a>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="$close()">Fechar</button>
</div>