<div class="modal-body text-center">
    <p ng-hide="mnemonic_2of3">O QR code que contem a senha que da acesso a sua carteira é:</p>
    <p ng-show="mnemonic_2of3">O QR code que contem a senha para recuperar o acesso para subconta é: 
    <!-- The QR code containing the passphrase for recovery access to your subaccount is: --></p>
    <p><qr text="(( mnemonic_2of3 || mnemonic_encrypted || wallet.mnemonic ))" size="212"></qr></p>
    <p ng-show="mnemonic_encrypted">Essa senha está encriptada, então será necessário sua senha de encriptação para usá-la.
    <!-- This passphrase is encrypted, so your encryption password is required to use it. --></p>
    <p><b><i class="glyphicon glyphicon-exclamation-sign"></i>Lembre-se de guardar em um lugar seguro!</b></p>
    <p style="word-break: normal" ng-show="mnemonic_2of3"><b><i class="glyphicon glyphicon-exclamation-sign"></i>O mnemônico da subconta não é guardado em nenhum lugar, então você PRECISA ter ele salvo para conseguir recuperar a sua 2 de 3 subconta.
    <!-- The subaccount mnemonic is not stored anywhere neither by GreenAddress, nor by your browser, so you *HAVE* to back it up to have a recovery access to your 2of3 subaccount. --></b></p>

    <div class="mnemonic-label">Seu mnemônico:</div>
    <div style="word-break: normal" class="mnemonic info" ng-bind="mnemonic_encrypted || wallet.mnemonic"></div>

    <div ng-show="mnemonic_2of3">
        <div class="mnemonic-label"><br/>Mnemônico da subconta.</div>
        <div style="word-break: normal" class="mnemonic info" ng-bind="mnemonic_2of3"></div>
    </div>

    <div ng-show="xpub_2of3 && !mnemonic_2of3">
        <div class="mnemonic-label"><br/>Your subaccount recovery xpub</div>
        <div class="mnemonic info" ng-bind="xpub_2of3"></div>
    </div>


    <div ng-show="mnemonic_2of3 || xpub_2of3" class="mnemonic-label"><br/>Your subaccount GreenAddress xpub</div>
    <div ng-show="mnemonic_2of3 || xpub_2of3" class="mnemonic info" ng-bind="xpub_ga_2of3"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="$close()">Fechar</button>
</div>