<div submittable>

    <div class="modal-body">
    	<p class="text-center">Insira as palavras solicitadas do seu mnemonico <strong>não criptografado</strong>:</p>
        <form ng-submit="verify_mnemonic_submit()">
            <div ng-class="{'has-error': verified_mnemonic_errors[$index]}" ng-repeat="index in verify_mnemonics_words_indices">
                <hr />
                <label for="id_word(($index))">Palavra #(( index ))</label><input clickfix id="id_word(($index))" class="form-control" type="password" ng-model="verified_mnemonic_words[$index]" />
                <div ng-show="verified_mnemonic_errors[$index]" class="label label-danger">((verified_mnemonic_errors[$index]))</div>
            </div>

            <input type="submit" submitter style="position: absolute; left: -10000px;" />
        </form>
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>
            <button class="btn btn-primary" ng-click="submit_me()">Verificar</button>
        </div>
    </div>

</div>